* {
  margin: 0;
  padding: 0;
}
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #a8dadc;
  box-shadow: inset 0 0 5px #457b9d;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1d3557;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00122b;
}
